<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">  
       <bean name="/home.htm"  class="org.himu.springweb.co.HomePageController"/> 
       <bean id="viewResolver"  class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
          <property name="prefix" value="/jsp/"/>  
          <property name="suffix" value=".jsp"/>  
       </bean>
       <bean id="simpleUrlMapping"  class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">  
         <property name="mappings">  
           <props>  
             <!-- Mapped above using BeanNameUrlHandlerMapping -->
             <!-- prop key="/home.htm">homePageCo</prop -->  
             
             <!-- Mapped using SimpleUrlHandlerMapping -->
             <prop key="/loancalc.htm">loanCalcCo</prop>  
           </props>  
         </property>  
       </bean>  
       <bean id="loanCalcCo"  class="org.himu.springweb.co.LoanCalcController">  
         <property name="formView" value="loanCalc"/>  
         <property name="successView" value="loanCalcResult"/>  
         <property name="commandName" value="loanInfo"/>  
         <property name="commandClass" value="org.himu.springweb.co.LoanInfo"/>  
         <property name="validator">  
            <bean class="org.himu.springweb.co.LoanCalcValidator"/>  
         </property>  
       </bean>  
</beans> 
