<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
 <bean id="carManager" class="springmvc.service.CarManager">
       <property name="carList">
         <list>
           <ref bean="car1"/>
           <ref bean="car2"/>
        </list>
        </property>
    </bean>    
 
    <bean id="brandManager" class="springmvc.service.BrandManager">
      <property name="brandList">
        <list>
          <ref bean="brand1"/>
          <ref bean="brand2"/>
        </list>
      </property>
    </bean>
 
    <bean id="brand1" class="springmvc.model.Brand">
        <property name="id" value="1"/>
        <property name="name" value="Mercedes"/>
        <property name="country" value="Germany"/>
    </bean>
 
    <bean id="brand2" class="springmvc.model.Brand">
        <property name="id" value="2"/>
        <property name="name" value="Peugeot"/>
        <property name="country" value="France"/>
    </bean>
 
    <bean id="car1" class="springmvc.model.Car">
        <property name="id" value="1"/>
        <property name="brand" ref="brand1"/>
        <property name="model" value="SL 500"/>
        <property name="price" value="40000"/>
    </bean>
 
    <bean id="car2" class="springmvc.model.Car">
        <property name="id" value="2"/>
        <property name="brand" ref="brand2"/>
        <property name="model" value="607"/>
        <property name="price" value="35000"/>
    </bean>
    
  <bean name="/hello_world.html" class="springmvc.web.HelloWorldController"/>
 
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
      <property name="prefix" value="/jsp/"/>
      <property name="suffix" value=".jsp"/>
  </bean>
  
  <bean name="/new_car.html" class="springmvc.web.CarNewController">
    <property name="commandClass" value="springmvc.model.Car"/>
    <property name="formView" value="carNew"/>
    <property name="successView" value="list_cars.html"/>
    <property name="validator">
      <bean class="springmvc.validator.CarValidator"/>
    </property>
    <property name="carManager" ref="carManager"/>
    <property name="brandManager" ref="brandManager"/>
  </bean>
  
  <bean name="/list_cars.html" class="springmvc.web.CarListController">
    <property name="carManager" ref="carManager"/>
  </bean>
  
    
 
</beans>